*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #0F0E0E;
}

.barra{
    color: aliceblue;
}

.bienvenidos{
    background-color: #fff;
    height: 92vh;
    width: 100%;
    max-width: 1600px;
    min-width: 320px;
    margin: auto;
}

img{
    width: 100%;
}



.servicios{
    border: 2px solid #fff;
    background-color: #252526;
    height: 10vh;
    color: aliceblue;
    text-align: center;
}

.textoservicios{
    border: 2px solid #fff;
    background-color: #252526;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.multimedia{
    border: 2px solid #fff;
    background-color: #252526;
    height: 70vh;
    text-align: center;
    color: aliceblue;
}

.multimediafoto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 35vh;
    text-align: center;
    color: aliceblue;
}

.multimediatexto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 28vh;
    text-align: center;
    color: aliceblue;
}

.ilustracion{
    border: 2px solid #fff;
    background-color: #252526;
    height: 70vh;
    text-align: center;
    color: aliceblue;
}

.diseñoweb{
    border: 2px solid #fff;
    background-color: #252526;
    height: 70vh;
    text-align: center;
    color: aliceblue;
}



.portafolio{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.fotografia{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.fotografiatexto1{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 7vh;
    text-align: center;
    color: aliceblue;
}

.fotografiafoto{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 65vh;
    text-align: center;
    color: aliceblue;
}

.ilustraciontexto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 7vh;
    text-align: center;
    color: aliceblue;
}

.ilustracionfoto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 65vh;
    text-align: center;
    color: aliceblue;
}

.audiovisuales{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.dibujo{
    border: 2px solid #fff;
    background-color: #252526;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.diseño{
    border: 2px solid #fff;
    background-color: #252526;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}



.sobremi{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.texto{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.foto{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.sobremitexto{
    border: 2px solid #fff;
    background-color: #0F0E0E;
    height: 72vh;
    text-align: center;
    color: aliceblue;
}



.contacto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.contactofoto{
    border: 2px solid #fff;
    background-color: #252526;
    height: 33vh;
    text-align: center;
    color: aliceblue;
}

.facebook{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}

.gmail{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}

.youtube{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}

.whatsapp{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}

.instagram{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}

.pinterest{
    border: 2px solid #fff;
    background-color: #252526;
    height: 40vh;
    text-align: center;
    color: aliceblue;
}



