*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient( #E396A6, #E396A6);
    min-height: 100vh;
    overflow: scroll;
}

.barra{
    color: aliceblue;
}

.bienvenidos{
    height: 100vh;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
}

img{
    width: 100%;
}



.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 10vh;
    color: aliceblue;
    text-align: center;
}

.textoservicios{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.todoservicios{
    background-color: #252526;
    height: 55vh;
    text-align: center;
    color: aliceblue;
}

.multimediafoto{
   height: 200px;
   width: 250px;
   margin: 10px;
}





.portafolio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0E0E;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.fotografia{
    justify-content: center;
    align-items: center;
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.fotografiatexto1{
    background-color: #0F0E0E;
    height: 7vh;
    text-align: center;
    color: aliceblue;
}

.fotografiafoto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0E0E;
    height: 73vh;
    text-align: center;
    color: aliceblue;
}

.ilustraciontexto{
    background-color: #252526;
    height: 7vh;
    text-align: center;
    color: aliceblue;
}

.ilustracionfoto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 53vh;
    text-align: center;
    color: aliceblue;
}

.audiovisuales{
    background-color: #0F0E0E;
    height: 80vh;
    text-align: center;
    color: aliceblue;
}

.dibujo{
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 63vh;
    text-align: center;
    color: aliceblue;
}

.diseño{
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 63vh;
    text-align: center;
    color: aliceblue;
}



.sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0E0E;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F0E0E;
    height: 70vh;
    text-align: center;
    color: aliceblue;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #0F0E0E;
    height: 70vh;
    text-align: center;
    color: aliceblue;
    position: 10px;
}





.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 10vh;
    text-align: center;
    color: aliceblue;
}

.redes{
    justify-content: center;
    align-items: center;
    background-color: #252526;
    height: 25vh;
    text-align: center;
    color: aliceblue;
}

.fotojuan{
    height: 520px;
    width: 330px;
    align-content: center;
    border: 0;
    max-width: 600px;
    min-width: 50px;
    margin: auto;
}

.jovinsena{
    height: 550px;
    width: 450px;
}

.hilarypicado{
    height: 500px;
    width: 500px;
}

.alejo{
    height: 550px;
    width: 360px;
}

.jovinfondo{
    height: 500px;
    width: 500px;
}

.videouno{
    height: 500px;
    width: 500px;
}

.pantera{
    height: 400px;
    width: 280px;
}









.imagenes{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
}

.imagenes::before{
    content:'';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#202020,#20202000);
    z-index: 100000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}

section img#luna{
    mix-blend-mode: screen;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px ;
    z-index:10;
    color: black;
    font-family: ohayu;
    font-size: 10rem;
    transform: translate(100px);
}

.sec1{
    padding: 50vh;
    background-color: #09031b;
}

.sec1 h2{
    font-family: ohayu;
    font-size: 5rem;
    color: white;
}

@media (min-width: 468px) {
    .text-light mb-5 {
        padding: 15px 105px;
    }
}

@media (min-width: 300px) and (max-width: 1320px){
    .textoPeque {
        font-size: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
